<div class="nav">
  <div class="container">
    <div class="row">
      <div class="col-3"><p class="logo">logo</p></div>
      <div class="col-6"></div>
      <div class="col-3">
        <div class="menu">
          <span class="material-symbols-outlined"> menu </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="left">
        <img class="leftcontent" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/src/assets/nn-min.jpg?raw=truehttps://github.com/IndhiraVarshini/FirstWebsite/blob/main/src/assets/nn-min.jpg?raw=true" />
      </div>
    </div>
    <div class="col-6">
      <div class="right">
        <img class="image1" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/333%20copy.png?raw=true" />
        <p class="para">Fresh breads <br />handcrafted daily</p>
        <p class="para1">
          Nibh venenatis cras sed felis eget velit aliquet sagittis id. Tellus
          pellentesque eu tincidunt tortor aliquam nulla.
        </p>
        <br />
        <button class="btn read-more-btn">Read More</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid background">
  <p class="head">Our ​Breads</p>
  <div class="ht">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="content">
            <img class="image2" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/ghgh.jpg?raw=true" alt="img" />
            <p class="para2">White Bread</p>
            <p class="para3">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="readmore">readmore</a>
          </div>
        </div>
        <div class="col-3">
          <div class="content">
            <img class="image2" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/rre.jpg?raw=true" alt="img" />
            <p class="para2">Farming Bread</p>
            <p class="para3">
              Sample text. Click to select the text box. Click again or double
              click to start editing the text.
            </p>
            <a href="readmore">readmore</a>
          </div>
        </div>
        <div class="col-3">
          <div class="content">
            <img class="image2" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/trrt.jpg?raw=true" alt="img" />
            <p class="para2">Loaf Bread</p>
            <p class="para3">
              Sample text. Click to select the text box. or double click to
              start editing the text.
            </p>
            <a href="readmore">readmore</a>
          </div>
        </div>
        <div class="col-3">
          <div class="content">
            <img class="image2" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/j.jpg?raw=true" alt="img" />
            <p class="para2">Sourdough</p>
            <p class="para3">
              Sample text. Click to select the text box. or double click to
              start editing the text.
            </p>
            <a href="readmore">readmore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p class="para4">Ingredients & <br />Method</p>
      <p class="para5">
        Flour, water, sea salt, and leavening: four simple ingredients that—when
        mixed, shaped, fermented, and baked—make one of the most basic foods
        that has nourished humans for thousands of years. Since such few
        ingredients are involved, two things set great bread apart: quality
        ingredients and time.
      </p>
      <br />
      <button class="btn read-more-btn">Read More</button>
    </div>
    <div class="col-6">
      <div class="content1">
        <img class="image3" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/k.jpg?raw=true" alt="img" />
        <br />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid background1">
  <p class="head">Our ​Breads</p>
  <div class="container">
    <div class="row">
       <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">GLASSIC BAGUETTE</p>
          <p class="paragraph">
            Unbleached organic wheat flour, whole rye flour, water, sea salt,
            yeast
          </p>
        </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">BAGUETTE</p>
          <p class="paragraph1">
            Naturally leavened baguette made using the Five Points Levain dough.
            This baguette is crustier and chewier than the Classic Baguette
          </p>
        </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">PEKAN RAISIN</p>
          <p class="paragraph2">
            Naturally leavened bread made using the French Country dough with
            the additions of local Georgia pecans and Thompson raisins
          </p>
        </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">EVERYDAY FRENCH</p>
          <p class="paragraph3">
            Everyday table loaf made using the Classic Baguette dough
          </p>
        </div>
        </div>
        
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">MULTIGRAIN</p>
          <p class="paragraph4">
            Naturally leavened bread made using the French Country dough with
            the additions of millet, quinoa, rolled oats, flax seeds.
          </p>
          </div>
        </div>
         <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">DANISH RYE</p>
          <p class="paragraph5">
            Whole rye flour, cracked rye berries, water, natural leaven culture
            made with rye flour, pumpkin seeds, sunflower seeds.
          </p>
          </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">LEVAIN</p>
          <p class="paragraph6">
            Unbleached organic wheat flour, whole rye flour, water, natural
            leaven culture, sea salt
          </p>
        </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">CIABATTA</p>
          <p class="paragraph7">
            Unbleached organic wheat flour, whole rye flour, water, natural
            leaven culture, sea salt, yeast
          </p>
        </div>
        </div>
        <div class="col-4 p-2">
          <div class="page1">
          <p class="head1">HANDMADE BREAD</p>
          <p class="paragraph8">
            Naturally leavened bread made using the Sourdough Rye dough and
            studded with dried black currants
          </p>
        </div>
        </div>
        </div>
        </div>
  </div>
<div class ="container">
  <div class="row">
    <div class="col-12">
      <div class="c">
        <p class="p">Our freshly baked bread <br>is the hero of our breakfast menu</p>
          <button class="btn read-more-btn">Read More</button>
      </div>
    </div>
  </div>
</div>
<img class="i" src="https://github.com/IndhiraVarshini/FirstWebsite/blob/main/public/i.jpg?raw=true">
<div class="container-fluid background3">
  <P class="head2">Read what our customers say</P>
<div class="container">
  
  <div class="row">
    <div class="col-3">
      <div class="page">
        <span class="material-symbols-outlined icon">cake</span>
        <p class="p1">sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. "
</p>
<p class="p2">CELIA ALMEDA</p>
      </div>
    </div>
    <div class="col-3">
      <div class="page">
        <span class="material-symbols-outlined icon">cake</span>
        <p class="p1">Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. 
</p>
<p class="p2">FRANK KENNY</p>      
</div>
    </div>
    <div class="col-3">
      <div class="page">
        <span class="material-symbols-outlined icon">cake</span>
        <p class="p1">Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. 
</p>
        <p class="p2">SAM PERRY </p>
      </div>
    </div>
        <div class="col-3">
      <div class="page">
        <span class="material-symbols-outlined icon">cake</span>
        <p class="p1">Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. 
</p>
        <p class="p2">MARRY HADSON </p>
     </div>
  </div>
</div>
</div>
</div>
<div class="container-fluid background4">
  <div class="container">
    <div class="row"> 
      <div class="sec1">
       <p class="h1">Contact Us</p>
       <div class="col-4">
   </div>
      <div class="col-8">
        <div class="section">
            <p class="b1">Email</p>
          <input type="email"  name="email">
          <p class="b2">Name</p>
          <input type="text"  name="name">
        </div>
        <button class="submit-button">SUBMIT</button>
      </div>
       </div>
        </div>
     <div class="row mt-4">
      <div class="col-4">
        <div class="sec">
          <p class="h4">FIND US</p>
          <p class="p3">
            121 Rock Street,<br>
            21 Avenue, New York,<br>
            NY 92103-9000
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="sec">
          <p class="h4">HOURS</p>
          <p class="p3">
            Monday – Saturday<br>
            9am – 7pm<br>
            Sunday<br>
            10am – 6pm
          </p>
        </div>
      </div>
       <div class="col-4">
        <div class="sec">
          <p class="h4">CALL US</p>
          <p class="p3">
            123(456)-789<br>
            987(765)-321
          </p>
        </div>
      </div>
    </div>
     </div>
</div>
<div class="c1">
   <p class="p4">Sample text. Click to select the Text Element.</p>
        <div class="footer">
            This site was created with the <span class="np">Nicepage</span>
        </div>
    </div>